/*    DIV     */
div{
  padding: 0;
}
footer{
  margin: 0 auto;
  text-align: center;
  background-color: #8854d0;
  min-height: 10vh;
}
div.launch{
  background-color:whitesmoke;
}
div.launchDiv{
  text-align: center;
}
.vert.grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
}
/*    BUTTONS    */
/*  button{
  border: none;
  border-radius: 2em;
  padding: 1em;
  margin: 0 auto;
}*/
button.launch{
  padding: 10px;
  margin-top: 3em;
  color: white;
background-color: #8854d0;
background-image: linear-gradient(0deg, #8854d0 0%, #a55eea 100%);
  box-shadow: 0px 10px 25px -10px #8854d0;
}
button.cool{
  background-color: #fed330;
  background-image: linear-gradient(345deg, #fed330 25%, #FFE32C 100%);
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 14pt;
  box-shadow: 0px 10px 20px -10px #FFCE00;
  
}
button.cool:hover{
  /*get the content to change to '<i class="fas fa-bolt"></i>'*/
  color: #f7b731;
  background-color: transparent;
  text-shadow: 0px 0px 50px #4b6584;
  font-size: 15pt;
}
/*     INPUT     */
/* input{
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}*/

input.launch{
  box-shadow: 0px 20px 15px -20px #a5b1c2;
}
input.launch:focus{
  box-shadow: 0px 20px 15px -20px #26de81;
  background-color: whitesmoke;
  color: black;
  text-decoration: bold;
  border:none;
}
input.launch:hover{
  box-shadow: 0px 20px 15px -17px #778ca3; 
  color: #20bf6b;
}
/*    TEXT      */
*{
  font-family: 'Nunito', sans-serif;
}

h1.sukara{
  padding-top: 1em;
  font-size: 100pt;
  font-family: 'Muli', sans-serif;
color:white;
}
h1.engineering{
  font-family: 'Muli', sans-serif;
  color: #7d00ff;
  text-transform: uppercase;
}
h2{
color: white;
}
h3.launch{
  margin-top: 2em;
  font-size: 20pt;
}
h4.cool{
  color:white;
  margin-top: 3em;
}
h4.cool:hover{
  text-shadow: 0px 0px 4px #fed330;
}
footer p{
  color: white;
  padding-top: 1em;
}
/*icons */
.fas{
  height: auto;
  width: auto;
}