.notfound{
    border-style: solid;
    height: 100vh;
    text-align: center;
}
.fas.fa-lightbulb{
    font-size: 200pt;
    padding: none;
    margin: 70px;
    color: black;
}
i{
    color: white;
    padding: none;
    margin: none;
}
/* .holder{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    } */
h2.nf{
    color: #d1d8e0;
}
