/**

https://flatuicolors.com/palette/de
**/
#root{
  padding: none;
  margin: none;
  min-height: 100vh;
}
.App {
  text-align: center;
  margin:0 auto;
  background-color: white;
}
h1, h2, h3, h4, p{
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: large;
}
h1.sukara, h1.engineering{
  padding: 0;
  margin: y0;
}
h1.sukara{
  font-size: 100pt;
  font-family: 'Muli', sans-serif;
color:white;
}
h1.engineering{
  font-family: 'Muli', sans-serif;
  color: #7d00ff;
  text-transform: uppercase;
}
button.landingButton{
  font-size: 15pt;
  color: white; 
  background-color: #7d00ff;
  font-family: 'Roboto', sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page{
  background-color: #8200ff;
background-image: linear-gradient(19deg, #390090 0%,#8200ff  100%);
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
  .sldg, .ai, .mdc, .pv{
    font-size: unset;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  }
  
  .fas,  .far{
    height: 100px;
    width: 100px;
    font-size: unset;
    font-size: 30pt;
  }
  p{
    margin: 0 auto;
    text-align: center;
    font-size: 10pt;
  }
  p.info{
  font-family: 'Roboto', sans-serif;
  color: white;

  }
  .pageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 100px;
    text-align: center;
  }
  .emailHolder{
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
  }
  .grid-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .center-landing{
    text-align: center;
    margin: 0 auto;
    padding-top: 20vh;
  }
.center-landing-img{
    text-align: right;
    padding-top: 10vh;
  }
/*icons */
.fas.fa-solar-panel{
  color: white;
}
.fas.fa-plug{
  color: white;
}
.fas.fa-calculator{
  color: white;
}
.far.fa-lightbulb{
  color: white;
}
/*images*/
img.logo{
  scale: (5);
}
img.cableLady{
  padding-bottom: 200px;
  text-align: right;
}