
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
i{
  padding: 10px;
  margin: 0 auto;
}
.nav{
  padding: none;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  position: absolute;
  width: 100vw;
}
li{
  list-style: none;
}
a{
  color: #eee;
  text-decoration: none;
}
#root{
  background-color: #2c2c54;
  min-height: 100vh;
}