/**

https://flatuicolors.com/palette/de
**/
#root{
  padding: none;
  margin: none;
  background-color:#d1d8e073;
  min-height: 100vh;
}
.App {
  text-align: center;
  margin:0 auto;
  background-color: #000f1d;
  background-image: linear-gradient(0deg, #000f1d 0%, #131313 100%);
}

h1, h2, h3, h4{
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
h1.landingQ{
  margin: 0 auto;
  padding: 100px;
  font-size: 20pt;
}
h1.title{
  margin: 0 auto;
  padding-top: 30vh;
  font-size: 50pt;
  color: unset;
  color: yellowgreen;
}
button.landing{
  margin:100px;
  padding:30px;
  border: none;
  font-size: 15pt;
  color: white; 
  border-radius: 2em;
  background-color: #000f1d;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 20px 0px yellowgreen;
}
button.landing:onHover{
  box-shadow: 0px 0px 50px 0px yellow;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page{
  height: 50vh;
  background-color: white;
  border-radius: 2em;
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 0px 50px 10px rgba(202, 202, 202, 0.24);
}
.title.sldg{
  color: #20bf6b;
  }
  .title.pv{
    color:#0fb9b1;
  }
  .title.mdc{
    color:#8854d0;
  }
  .title.ai{
    color: #fa8231;
  }
  .sldg, .ai, .mdc, .pv{
    font-size: unset;
  }
  
  .fas,  .far{
    height: 100px;
    width: 100px;
    font-size: unset;
    font-size: 30pt;
  }
  p{
    margin: 0 auto;
    text-align: center;
    font-size: 10pt;
  }
  .pageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 100px;
  }
.info{
  color: #4b6584;
  padding: 20px;
}