
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
i{
  padding: 10px;
  margin: 0 auto;
}
.nav{
  padding: none;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}
li{
  list-style: none;
}
a{
  color: yellowgreen;
  text-decoration: none;
}
.navbar{
  color: #333;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  box-shadow: 2px 2px 20px 2px grey;
}